<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link href="../../component/layui/css/layui.css" rel="stylesheet" />
		<link href="../../admin/css/pearCommon.css" rel="stylesheet" />
	</head>
	<body>
		<body class="pear-container">
		    <div class="layui-card">
		        <div class="layui-card-body">
		            <form class="layui-form" action="">
		                <div class="layui-form-item">
		                    <label class="layui-form-label">姓名</label>
		                    <div class="layui-input-inline">
		                        <input type="text" name="name" placeholder="" class="layui-input">
		                    </div>
		                    <label class="layui-form-label">电话</label>
		                    <div class="layui-input-inline">
		                        <input type="text" name="mobile" placeholder="" class="layui-input">
		                    </div>
		                    <button class="pear-btn pear-btn-md pear-btn-primary" lay-submit lay-filter="user-query">
		                        <i class="layui-icon layui-icon-search"></i>
		                        查询
		                    </button>
		                    <button type="reset" class="pear-btn pear-btn-md">
		                        <i class="layui-icon layui-icon-refresh"></i>
		                        重置
		                    </button>
		                </div>
		            </form>
		        </div>
		    </div>
		    <div class="layui-card">
		        <div class="layui-card-body">
		            <table id="user-table" lay-filter="user-table"></table>
		        </div>
		    </div>
		</body>

		<script type="text/html" id="user-toolbar"></script>

		<script type="text/html" id="user-createTime">
		    {{layui.util.toDateString(d.creatTime, 'yyyy-MM-dd HH:mm:ss')}}
		</script>
		<script type="text/html" id="rank">
			{{d.LAY_TABLE_INDEX+1}}
		</script>
		<script src="../../component/layui/layui.js"></script>
		<script>
		    layui.use(['table','form','jquery'],function () {
		        let table = layui.table;
		        let form = layui.form;
		        let $ = layui.jquery;

		        let MODULE_PATH = "operate/";

		        let cols = [
		            [
						{title: '序号',field: 'rank', align:'center',sort: true, fixed: 'left', templet: '#rank'},
		                {title: '姓名', field: 'name', align:'center',},
		                {title: '性别', field: 'sex', align:'center'},
		                {title: '电话', field: 'mobile', align:'center', templet:'#user-sex'},
		                {title: '微信', field: 'wxNo', align:'center'},
						{title: '地址', field: 'address', align:'center'},
		                {title: '提交时间', field: 'creatTime', align:'center',templet:'#user-createTime'},
						{title: '保障需求', field: 'securityNeed', align:'center', },
						{title: '为谁投保', field: 'insurePeople', align:'center', },
						{title: '备注', field: 'remarks', align:'center', }
		            ]
		        ]

		        table.render({
		            elem: '#user-table',
		            url: 'http://47.104.28.105:8088/user/getUserListPage',
					method:'post',
		            page: true ,
		            cols: cols ,
		            skin: 'line',
		            toolbar: '#user-toolbar',
		            defaultToolbar: [{
		                layEvent: 'refresh',
		                icon: 'layui-icon-refresh',
		            }, 'filter', 'print', 'exports']
		        });

		        table.on('tool(user-table)', function(obj){
		            if(obj.event === 'remove'){
		                window.remove(obj);
		            } else if(obj.event === 'edit'){
		                window .edit(obj);
		            }
		        });

		        table.on('toolbar(user-table)', function(obj){
		            if(obj.event === 'add'){
		                window.add();
		            } else if(obj.event === 'refresh'){
		                window.refresh();
		            } else if(obj.event === 'batchRemove'){
		                window.batchRemove(obj);
		            }
		        });

		        form.on('submit(user-query)', function(data){
		            table.reload('user-table',{where:data.field})
		            return false;
		        });

		        window.add = function(){
		            layer.open({
		                type: 2,
		                title: '新增',
		                shade: 0.1,
		                area: ['500px', '400px'],
		                content: MODULE_PATH + 'add.html'
		            });
		        }

		        window.edit = function(obj){
		            layer.open({
		                type: 2,
		                title: '修改',
		                shade: 0.1,
		                area: ['500px', '400px'],
		                content: MODULE_PATH + 'edit.html'
		            });
		        }

		        window.remove = function(obj){
		            layer.confirm('确定要删除该用户', {icon: 3, title:'提示'}, function(index){
		                layer.close(index);
		                let loading = layer.load();
		                $.ajax({
		                    url: MODULE_PATH+"remove/"+obj.data['userId'],
		                    dataType:'json',
		                    type:'delete',
		                    success:function(result){
		                        layer.close(loading);
		                        if(result.success){
		                            layer.msg(result.msg,{icon:1,time:1000},function(){
		                                obj.del();
		                            });
		                        }else{
		                            layer.msg(result.msg,{icon:2,time:1000});
		                        }
		                    }
		                })
		            });
		        }

		        window.batchRemove = function(obj){
		            let data = table.checkStatus(obj.config.id).data;
		            if(data.length === 0){
		                layer.msg("未选中数据",{icon:3,time:1000});
		                return false;
		            }
		            let ids = "";
		            for(let i = 0;i<data.length;i++){
		                ids += data[i].userId+",";
		            }
		            ids = ids.substr(0,ids.length-1);
		            layer.confirm('确定要删除这些用户', {icon: 3, title:'提示'}, function(index){
		                layer.close(index);
		                let loading = layer.load();
		                $.ajax({
		                    url: MODULE_PATH+"batchRemove/"+ids,
		                    dataType:'json',
		                    type:'delete',
		                    success:function(result){
		                        layer.close(loading);
		                        if(result.success){
		                            layer.msg(result.msg,{icon:1,time:1000},function(){
		                                table.reload('user-table');
		                            });
		                        }else{
		                            layer.msg(result.msg,{icon:2,time:1000});
		                        }
		                    }
		                })
		            });
		        }

		        window.refresh = function(param){
		            table.reload('user-table');
		        }
		    })
		</script>
	</body>
</html>
